@font-face {
  font-family: "Geometria-Bold";
  src: url("../fonts/Geometria-Bold/Geometria-Bold.woff2") format("woff2"),
    url("../fonts/Geometria-Bold/Geometria-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria-Regular";
  src: url("../fonts/Geometria-Regular/Geometria-Regular.woff2") format("woff2"),
    url("../fonts/Geometria-Regular/Geometria-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
