.overflow {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.page-title {
  @include font(40px, 44px, "Geometria-Bold");
}

.direction-column {
  display: flex;
  flex-direction: column;
}

.ml-15 {
  margin-left: 15px;
}

.text_tip {
  color: $color-text-tip;
}

.rating {
  @include font(14px, 16px, "Geometria-Regular");
  word-spacing: 4px;
  b {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
