.promotions-discounts-page {
  .main {
    padding-top: 25px;
  }
  .promotions-news-tile__preview {
    margin-bottom: 12px;
  }
  .promotions-news-tile {
    margin-bottom: 55px;
  }
  .load-more__btn {
    min-width: 185px;
    padding: 17px 17px 17px 40px;
  }
  .footer {
    padding: 95px 0 0;
  }
}
.promotions-discounts__title {
  margin-bottom: 50px;
}
