// BREAKPOINTS
$mobile-portrait: 320px;
$mobile-small: 375px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-portrait-plus: 992px;
$tablet-landscape: 1280px;
$desktop: 1440px;
$desktop-extra: 1600px;
// FONT SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1320;
// COLOR
$color-primary: #87c059;
$color-secondary: #54a98f;
$color-additional: #ffe609;
$color-hovered: #64953c;
$color-disabled: #3d3d3d;

$color-text-primary: #fff;
$color-text-secondary: #000;
$color-text-tip: #fc7900;
$color-text-additional: #ffe609;
$color-text-info: #828282;

$color-bg-primary: #000;
$color-bg-secondary: #fff;
$color-bg-hovered: rgba(0, 0, 0, 0.75);
$color-bg-gray: #eeeeee;

$color-shadow: rgba(135, 192, 89, 0.2);
$color-shadow-1: rgba(255, 255, 255, 0.2);

$color-white: #fff;
$color-white-1: rgba(255, 255, 255, 0.15);
$color-black: #000;
$color-black-1: rgba(0, 0, 0, 0.2);
$color-yellow: #ffe609;
$color-pink: #ef7875;
$color-red: #da0b0b;
